.abcd {
  font-size: xxx-large;
  font-weight: 700;
}
img.img-fluid.banner-image {
  margin-top: 100px;
}
@media (max-width: 450px) {
  .btn-2 {
    /* max-width: 100vw; */
    margin-left: 50px;
  }
}

@media (min-width: 100px) and (max-width: 320px) {
  .btn-2 {
    margin-left: 60px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .btn-2 {
    margin-left: 89px;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .btn-2 {
    margin-left: 120px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .col-md-6 {
    display: block;
  }
  .btn-2 {
    margin-left: 160px;
  }
}
